extends layout

block body
  div(id='page-container', class='container')
    div(ng-controller='AppCtrl')
      div(class='row')
        div(class='col-md-12')
          div(class='col-md-8 col-md-offset-2')
            div(class='page-header')
              h1(class='font-cursive') <a class='color-text no-text-decor' href='/'>Projects</a><span class='color-faded'>.</span><span><a href='http://www.muhammadmustadi.com' class='color-accent no-text-decor'>m13i</a></span>
          div(class='col-md-2')
          div(class='row')
            div(class='col-md-12', style='padding:0px')
              div(class='col-md-8 col-md-offset-2')
                ul.menu(style='margin:5px 0px;')
                  li
                    a(href='parallel') 'Paralleljs Implementation'
                  li
                    a(href='others') 'Others'
              div(class='col-md-2')
          div(class='col-md-6 col-md-offset-3')

            div(ng-view)

            div(class='page-footer')
              br
              br
              br
          div(class='col-md-3')


  script(src='js/parallel.js')
  script(src='//code.jquery.com/jquery-1.11.2.min.js')
  script(src='js/bootstrap.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular-route/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/ngprogress/build/ngProgress.js')
