extends layout

block body
  div(id='page-container')
    div(class='row')
      div(class='col-md-6 col-md-offset-3')
        div(ng-controller='AppCtrl')
          div(class='page-header')
            h2 Projects
          ul.menu
            li
              a(href='parallel') 'Parallel.js'

          div(ng-view)

  div(class='row')
    div(class='col-md-6 col-md-offset-3')
      footer
        div
          | App: v
          span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
