!!!
html(ng-app="projectsApp")
  head
    meta(charset='utf8', name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        //- <meta name=viewport content="width=device-width, initial-scale=1">
    base(href='/')
    title Projects by Muhammad Mustadi
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/js/lib/ngprogress/ngProgress.css')
    //- link(rel='stylesheet', href='/js/lib/materialize/dist/css/materialize.css')
    //- link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block body